.test_auth.json
node_modules/
dist/
block-pack/
dev/
work/
log/
.turbo
vite.config.*.timestamp-*
software/**/*.sw.json
software/*.tgz
.DS_Store
.vscode/sftp.json

# BUG in vue-tsc, it enables incremental builds when we do not ask it
ui/tsconfig.app.tsbuildinfo
ui/tsconfig.node.tsbuildinfo